<div class="card-container">
  <md-card x-large class="sample-content">
      <h2 *ngIf="selectedExpense._id">Поправить {{originalTitle}}</h2>
      <h2 *ngIf="!selectedExpense._id">Похвастаться новой покупкой</h2>
  </md-card>
  <md-card>
    <md-card-title>Сказ о покупке</md-card-title>
    <md-card-content>
    <form novalidate>
        Как то, <md-input [(ngModel)]="selectedExpense.date"
                type="date"></md-input>. Я, <b>{{user.userName}}</b>
                <!--md-input [(ngModel)]="userName"
                placeholder="Мое погоняло" type="text" disabled></md-input-->, решил купить
                <md-input [(ngModel)]="selectedExpense.name"
                placeholder="что описываю?" type="text"></md-input>. И обошлось мне это в
                <md-input [(ngModel)]="selectedExpense.cost"
              placeholder="сколько стоило?" type="number"></md-input> рублей.
          Про эту покупку могу еще добавить <md-input [(ngModel)]="selectedExpense.description"
            placeholder="пару слов" type="text"></md-input>.
          А что бы можно было потом сравнить с другими покупками, помечу ка Я ее еще вот так:
            <div *ngFor="let tag of selectedExpense.tags">
              <input [(ngModel)]="tag.name" placeholder="К чему бы ее отнести?"
              type="text">
              <button type="button" class="btn btn-danger" (click)="deleteTag(tag)">
                X
              </button>
            </div>
            <button type="button" class="btn btn-default" (click)="newTag()">
                Добавить метку
            </button>
    </form>
      <button class="btn btn-warning" type="submit" (click)="cancelled.emit(selectedExpense)">
        Отменить
      </button>
      <button class="btn btn-success" type="submit" (click)="saved.emit(selectedExpense)">
        Сохранить
      </button>
  </md-card-content>
  </md-card>
</div>
