<div class="card-container">
    <md-card>
        <md-card [heading]="expense.name" *ngFor="let expense of expenses"
                        (click)="selected.emit(expense)">
        <md-card-title>Покупка: {{expense.name}}</md-card-title>
        <md-card-content>
            <ul class="list-inline">
              <li *ngFor="let tag of expense.tags">
                <span class="label label-warning">
                  #{{tag.name}}
                </span>
              </li>
            </ul>
            <div>
              {{expense.user}}
            </div>
            <div>
              {{expense.cost}}
            </div>
            <div>
              {{expense.description}}
            </div>
            <div>
              {{expense.date}}
            </div>
            <div>
              <button class="btn btn-danger" type="submit" (click)="deleted.emit(expense); $event.stopPropagation();"
              >
                <i>Удалить</i>
              </button>
            </div>
        </md-card-content>
        </md-card>
    </md-card>
</div>
